<div class="header-bar" role="banner">
    <a href="#home"><img width="60" alt="GoosePls" src="./assets/images/goosePls.gif" /></a>
    <a class="title-text" href="#">Game List</a>
    <div class="spacer"></div>
    <div>
        <div class="card-container">
            <a class="card sign-in" [hidden]="signed" (click)="handleSignClick()" href="#signin">Sign In</a>
            <a class="card sign-up" [hidden]="signed" (click)="handleSignClick()" href="#signup">Sign Up</a>
        </div>
    </div>
    <div [hidden]="!signed">
        <span class="user-minimenu">
                Hello, {{ user_name }}!
        </span>
        <div class="dropdown-minimenu">
            <span>&#9776; Menu</span>
            <div class="dropdown-minimenu-content">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">My Games</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ul class="li-nav">
    <div class="toolbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#link1">Link #1</a></li>
        <li><a href="#link2">Link #2</a></li>
        <li><a href="#link3">Link #3</a></li>
    </div>
</ul>