.footer-text {
    color: #eee;
    margin-left: 40px;
    margin-top: 40px;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

.fa-brands {
    color: #eee;
    background-color: #5e1ed4;
    font-size: 30px;
    padding: 7px 0px 0px 0px;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-brands:hover {
    background-color: #7b50ca71;
}