<body>
    <app-header></app-header>
    <div class="container" *ngIf=" this.loading">
        <app-loadscreen></app-loadscreen>
    </div>
    <div class="container" *ngIf=" !this.loading">
        <div class="center-content">
            <div class="row image-container">
                <div class="col-4">
                    <img class="rounded" [alt]="game.name" [src]="game.urlMedia">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <button class="interaction-buttons spacing" *ngIf="!checkGames(game, gamesOnList)" (click)="addGame()">Add to Profile</button>
                            <button class="interaction-buttons spacing" *ngIf="checkGames(game, gamesOnList)" (click)="removeGame()">Remove from Profile</button>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
                <div class="col-8">
                    <h3>{{ game.name }}</h3>
                    <h4>&starf; {{ rating }}/10</h4>
                    <p>{{ game.shortDescription }}</p>
                </div>
            </div>
            <br>
            <h6>About {{ game.name }}</h6>
            <hr>
            <div [innerHTML]="game.description"></div>
            <br>
            <hr>
            <div class="row">
                <div class="col-4">
                    <p>Genres:</p>
                    <ul>
                        <li *ngFor="let item of createRange(genresLength); let index = index">{{ splitCommas(game.genres)[index] }}</li>
                    </ul>

                </div>
                <div class="col-4">
                    <p>Categories:</p>
                    <ul>
                        <li *ngFor="let item of createRange(categoriesLength); let index = index">{{ splitCommas(game.categ)[index] }}</li>
                    </ul>
                </div>
            </div>
            <h6>Reviews</h6>
            <hr>
            <div class="row">
                <app-create-review></app-create-review>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>