.container {
    min-height: 100vh;
    background-color: #fff;
}

.row.image-container {
    width: 100%;
}

.reqs-ul {
    padding-left: 17px;
    font-size: 12px;
}

hr {
    margin-top: -5px;
}

p {
    text-align: justify;
}

.center-content {
    padding: 30px 50px;
}

body {
    background-color: #eee;
}

h2 {
    font-size: 20px;
}

.interaction-buttons {
    color: #5900ff;
    border-width: 1px;
    border-color: #5900ff;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px 0 0 0;
    float: center;
    width: 120px;
}

.interaction-buttons a {
    color: #5900ff;
    border-width: 1px;
    border-color: #5900ff;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px 0 0 0;
    float: right;
    width: 120px;
    cursor: pointer;
}

.interaction-buttons:hover {
    background-color: #5900ff;
    border-color: #5900ff;
    color: #eee;
}

.rounded {
    width: 100%;
}

.spacing {
    margin-top: 20px;
}