<body *ngIf=" !this.loading">
    <app-header></app-header>
    <div class="container">
        <div class="center-content">
            <div class="row image-container">
                <div class="col-4">
                    <img class="img-thumbnail" [alt]="game.name" [src]="game.urlMedia">
                </div>
                <div class="col-8">
                    <h3>{{ game.name }}</h3>
                    <h4>&starf; {{ rating }}/10</h4>
                    <p>{{ game.shortDescription }}</p>
                    <ul style="list-style-type: none;padding-left: 0px">
                        <li>Release date: <b>To be defined</b></li>
                        <li>Developer: <b>To be defined</b></li>
                        <li>Publisher: <b>To be defined</b></li>
                    </ul>
                </div>
            </div>
            <br>
            <h6>About {{ game.name }}</h6>
            <hr>
            <p>{{ game.description }}</p>
            <hr>
            <div class="row">
                <div class="col-4">
                    <p>Genres:</p>
                    <ul>
                        <li *ngFor="let item of createRange(genresLength); let index = index">{{ splitCommas(game.genres)[index] }}</li>
                    </ul>

                </div>
                <div class="col-4">
                    <p>Categories:</p>
                    <ul>
                        <li *ngFor="let item of createRange(categoriesLength); let index = index">{{ splitCommas(game.categ)[index] }}</li>
                    </ul>
                </div>
            </div>
            <h6>Reviews</h6>
            <hr>
            <div class="row">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>