.container {
    min-height: 100vh;
    background-color: #fff;
}

.row.image-container {
    width: 100%;
}

.reqs-ul {
    padding-left: 17px;
    font-size: 12px;
}

hr {
    margin-top: -5px;
}

p {
    text-align: justify;
}

.center-content {
    padding: 30px 50px;
}

body {
    background-color: #eee;
}

h2 {
    font-size: 20px;
}

.interaction-buttons {
    color: #5900ff;
    border-width: 1px;
    border-color: #5900ff;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px 0 0 0;
    float: center;
    width: 160px;
}

.interaction-buttons a {
    color: #5900ff;
    border-width: 1px;
    border-color: #5900ff;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px 0 0 0;
    float: right;
    width: 160px;
    cursor: pointer;
}

.interaction-buttons:hover {
    background-color: #5900ff;
    border-color: #5900ff;
    color: #eee;
}

.rounded {
    width: 100%;
}

.spacing {
    margin-top: 20px;
}

.tab-button-container {
    margin: 0;
    padding: 0;
    float: right;  
    width: calc(100% - 200px);
    margin-bottom: 5px;
    outline: 0px;
    border-width: 1px;
    border-color: #5900ff;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: #fff;
    z-index: 1;
}

.tab-button-active {
    max-width: 150;
    margin-bottom: 5px;
    outline: 0px;
    border-width: 1px;
    border-bottom: 0px;
    border-color: #5900ff;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    z-index: 1;
}

.tab-button-inactive {
    max-width: 150;
    margin-bottom: 5px;
    outline: 0px;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 5px 5px 0 0;
    border-bottom-color: #5900ff;
    background-color: #fff;
    z-index: 0;
}

.bottom-tabs {
    border-width: 1px;
    border-bottom: 0px;
    border-color: #5900ff;
    border-radius: 4px 4px 0 0;
}