<div class="container">
    <!-- *ngIf=" !this.loading " -->
    <div class="header-bar row">
        <a href="#home"><img width="60" alt="GoosePls" src="./assets/images/goosePls.gif"></a>
        <a class="title-text" href="#">Game List</a>
        <div class="spacer"></div>
        <a class="sign-in" [hidden]="signed" href="">Sign In</a>
        <a class="sign-up" [hidden]="signed" (click)="handleSignClick()" onclick="return false;" href="">Sign Up</a>

        <div [hidden]="!signed">
            <span class="user-minimenu">
                    Hello, Tharas!<!--{{ this.userLogado.nome }}-->
                </span>
            <div class="dropdown-minimenu">
                <span>&#9776; Menu</span>
                <div class="dropdown-minimenu-content">
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">My Games</a></li>
                        <li><a href="#">Settings</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="toolbar">
            <a href="">Home</a>
            <a href="games">Games</a>
            <a href="community">Community</a>
            <a href="help">Help</a>
        </div>
    </div>
</div>