<div class="container header-bar">
    <div class="row">
        <a [routerLink]="['/']"><img width="60" alt="GoosePls" src="./assets/images/goosePls.gif"></a>
        <a class="title-text" [routerLink]="['/']">Game List</a>
        <div class="spacer"></div>
        <a class="sign-in" [hidden]="signed" [routerLink]="['/login']">Sign In</a>
        <a class="sign-up" [hidden]="signed" onclick="return false;" [routerLink]="['/register']">Sign Up</a>
        <div>
            <span class="user-minimenu" *ngIf=" !this.loading ">
                    Hello, {{ (this.userLogado.nome.charAt(0).toUpperCase() + this.userLogado.nome.slice(1).toLowerCase()) }}!
            </span>
            <div class="dropdown-minimenu" *ngIf=" !this.loading ">
                <span><i class="fa-sharp fa-solid fa-caret-down"></i> Menu</span>
                <div class="dropdown-minimenu-content">
                    <ul>
                        <li><a [routerLink]="['/user','profile']"><i class="fa-solid fa-user dropdown-minimenu-content-icon"></i> Profile</a></li>
                        <li><a [routerLink]="['/games']"><i class="fa-solid fa-gamepad dropdown-minimenu-content-icon"></i> Games</a></li>
                        <li><a [routerLink]="['/user','settings']"><i class="fa-solid fa-gear dropdown-minimenu-content-icon"></i> Settings</a></li>
                        <li><a (click)="logout()"><i class="fa-solid fa-right-from-bracket dropdown-minimenu-content-icon"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="toolbar">
            <a [routerLink]="['/']"><i class="fa-sharp fa-solid fa-house"></i> Home</a>
            <a [routerLink]="['/games']">Games</a>
            <a [routerLink]="['/community']">Community</a>
            <a [routerLink]="['/about-us']">About us</a>
            <a [routerLink]="['/help']">Help</a>
        </div>
    </div>
</div>