<ng-container>
    <div class="row" style="width:100%;">
        <div class="col-4">
            <img width="100%" src="{{ game.imageURL }}">
        </div>
        <div class="col-8">
            <h3>{{ game.title }}</h3>
            <h4>&starf; {{ game.rating }}/10</h4>
            <p style="text-align: justify;">{{ game.shortDescription }}</p>
            <ul style="list-style-type: none;padding-left: 0px">
                <li>Release date: <b>{{ game.releaseDate }}</b></li>
                <li>Developer: <b>{{ game.developer }}</b></li>
                <li>Publisher: <b>{{ game.publisher }}</b></li>
            </ul>
        </div>
    </div>
    <br>
    <h6>About {{ game.title }}</h6>
    <hr>
    <p style="text-align: justify;">{{ game.description }}</p>
    <p>Tags:</p>
    <ul>
        <li *ngFor="let item of createRange(tagsLength); let index = index">{{ game.tags[index] }}</li>
    </ul>
    <h6>System Requirements:</h6>
    <hr>
    <div class="row" style="margin-top:20px;">
        <div class="col-4">
            <p>Minimum Settings</p>
            <ul class="reqs-ul">
                <li *ngFor="let item of createRange(minSettingsLength); let index = index">{{ game.minSettings[index] }}</li>
            </ul>
        </div>
        <div class="col-4">
            <p>Recommended Settings</p>
            <ul class="reqs-ul">
                <li *ngFor="let item of createRange(recSettingsLength); let index = index">{{ game.recSettings[index] }}</li>
            </ul>
        </div>
        <div class="col-4"></div>
    </div>
    <h6>Reviews:</h6>
    <hr>
    <div class="row">
    </div>
</ng-container>