<body>
    <app-header></app-header>
    <div class="container overflow-hidden">
        <br>
        <h1 class="text-center">Our Team</h1>
        <br>
        <div class="row gx-5">
            <div class="col-xl-4">
                <div class="text-center text-box-1">
                    <img class="round-img" src="https://avatars.githubusercontent.com/u/49175866?v=4" alt="Felipe">
                    <br>
                    <h1>Felipe</h1>
                    <p><a href="https://github.com/Felipeamadori/">Github</a></p>
                    <hr>
                    <p class="text-style">About me</p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="text-center text-box-2">
                    <img class="round-img" src="https://avatars.githubusercontent.com/u/98976631?v=4" alt="Junior">
                    <br>
                    <h1>Junior</h1>
                    <p><a href="https://github.com/souzajr210/">Github</a></p>
                    <hr>
                    <p class="text-style">About me</p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="text-center text-box-3">
                    <img class="round-img" src="https://avatars.githubusercontent.com/u/37338846?v=4" alt="Thales">
                    <br>
                    <h1>Thales</h1>
                    <p><a href="https://github.com/Thaleslagemann/">Github</a></p>
                    <hr>
                    <p class="text-style">IT Student at UFSM<br>Lerning front-web development at the moment, plan to work with that for a bit.</p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>