body {
    background-color: #fff;
}

.imagem {
    border-radius: 50%;
    width: 100px;
}

@media only screen and (max-width: 991px) {
    .imagem {
        border-radius: 50%;
        width: 100px;
    }

    .rate {
        color: #5900ff;
        border: 2px black;
    }
}

.rate {
    margin-bottom: auto;
    margin-top: 45px;
    color: #5900ff;
    border: 2px black;
    max-height: 128px;
}

.comment {
    text-align: justify ;
}

textarea {
    resize: none;
    width: 40%;
}

textarea#comment {
    padding-left: 5px;
}

textarea:focus {
    outline: none;
    border-color: #5900ff;
}

.star-text {
    font-weight: bold;
    font-size: 20px;
}

input[type=range] {
    height: 38px;
    margin: 10px 0;
    width: 40%;
    
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
    border-color: #5900ff;
    border-width: 1px;
}

input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #000;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    height: 30px;
    width: 15px;
    border-radius: 5px;
    border-width: 2px;
    background: #5900ff;
    cursor: pointer;
}

input[type=submit] {
    color: #5900ff;
    font-size: 12px;
    border-width: 1px;
    border-color: #5900ff;
    border-radius: 5px;
    background-color: #eee;
    margin: 10px 0 0 0;
    float: center;
    width: 100px;
}

input[type=submit]:hover {
    color: #eee;
    font-size: 12px;
    border-width: 1px;
    border-color: #5900ff;
    border-radius: 5px;
    background-color: #5900ff;
    margin: 10px 0 0 0;
    float: center;
    width: 100px;
}