<body>
    <app-header></app-header>
    <div class="container">
        <div class="search-container">
            <form action="/action_page.php">
                <input class="rounded" type="search" placeholder="Search..." autofocus (keyup)="onKey($event)">
                <!--<button type="submit"><i class="fa fa-search"></i></button>-->
            </form>
        </div>
        <app-game [game]="gamesStatic | filterByName : filter"></app-game>
    </div>
    <app-footer></app-footer>
</body>