<p class="text-center text-muted" *ngIf="!games.length">No matches found.</p>
<ul class="list-unstyled">
    <li *ngFor="let game of games">
        <div class="row section">
            <div class="col-sm-3 text-center">
                <img class="rounded " [src]="game.urlMedia " [alt]="game.id ">
            </div>
            <div class="col-sm-7 row section text-center">
                <h5 class="game-title">{{ game.name }}</h5>
                <p class="game-description">{{ game.shortDescription }}</p>
            </div>
            <div class="col-sm-2 text-center buttons">
                <a [routerLink]="[ '/games', game.id ]"><button class="interaction-buttons">View page</button></a>
                <button class="interaction-buttons" [hidden]="hideAddButtons" (click)="addGame(game)">Add to Profile</button>
                <button class="interaction-buttons" disabled=true [hidden]="hideAddButtons">Create Review</button>
            </div>
        </div>
        <hr>
    </li>
</ul>