<p class="text-center text-muted" *ngIf="!games?.length">No matches found.</p>
<ul class="list-unstyled" *ngIf="!home">
    {{ setMaxGamesSize(maxStackSize) }}
    <li *ngFor="let game of games">
        <div class="row">
            <div class="col-xl-3 text-center">
                <img class="rounded game-image" [src]="game.urlMedia " [alt]="game.id ">
            </div>
            <div class="col-xl-9 text-center">
                <h5 class="game-title">{{ game.name }}</h5>
                <p class="game-description" *ngIf="!hideDescription">{{ game.shortDescription }}</p>
                <a [routerLink]="[ '/games', game.id ]"><button class="interaction-buttons">View page</button></a>
                <button class="interaction-buttons" *ngIf="!checkGames(game, gamesOnList)" (click)="addGame(game)">Add to List</button>
                <button class="interaction-buttons" *ngIf="checkGames(game, gamesOnList)" (click)="removeGame(game)">Remove from List</button>
            </div>
        </div>
        <hr>
    </li>
</ul>

<ul class="list-unstyled" *ngIf="home">
    {{ setMaxGamesSize(maxStackSize) }}
    <li class="home-li" *ngFor="let game of games">
        <div class="row">
            <div class="col-xl-1 text-center home-fitting">
                <h2 class="vertical-center"><b>#{{ iterationNumber }}</b></h2>
            </div>
            <div class="col-xl-9 text-center home-fitting">
                <a [title]="game.name" [routerLink]="[ '/games', game.id ]"><img class="rounded home-image" [src]="game.urlMedia " [alt]="game.id "></a>                
                <h6 class="home-game-title">{{ game.name }}</h6>
                <p class="game-description" *ngIf="!hideDescription">{{ game.shortDescription }}</p>
            </div>
            <div class="col-xl-2 text-center home-fitting">
                <button class="home-interaction-buttons vertical-center" title="Add game to list" *ngIf="!checkGames(game, gamesOnList) && userLogado" (click)="addGame(game)">add</button>
                <button class="home-interaction-buttons vertical-center" title="Add game to list" *ngIf="!checkGames(game, gamesOnList) && !userLogado" [routerLink]="[ '/login' ]">add</button>
                <button class="home-interaction-buttons vertical-center" title="Remove game from list" *ngIf="checkGames(game, gamesOnList)" (click)="removeGame(game)">remove</button>
            </div>
        </div>
        <hr>
        {{ iterationNumberIncrement() }}
    </li>

    {{ iterationNumberRefresh() }}

</ul>