<p class="text-center text-muted" *ngIf="!games?.length">No matches found.</p>
<ul class="list-unstyled" *ngIf="!home">
    {{ setMaxGamesSize(maxStackSize) }}
    <li *ngFor="let game of games">
        <div class="row">
            <div class="col-xl-3 text-center">
                <a [title]="game.name" [routerLink]="[ '/games', game.id ]"><img class="rounded game-image" [src]="game.urlMedia " [alt]="game.id "></a>
            </div>
            <div class="col-xl-9 text-center">
                <h5 class="game-title">{{ game.name }}</h5>
                <p class="game-description" *ngIf="!hideDescription">{{ game.shortDescription }}</p>
                <a [routerLink]="[ '/games', game.id ]" [title]="[game.name]"><button class="interaction-buttons">View page</button></a>
                <button class="interaction-buttons vertical-center" title="Add game to list" *ngIf="!checkGames(game, gamesOnList) && userLogado" (click)="addGame(game)">Add to list</button>
                <button class="interaction-buttons vertical-center" title="Add game to list" *ngIf="!checkGames(game, gamesOnList) && !userLogado" [routerLink]="[ '/login' ]">Add to list</button>
                <button class="interaction-buttons" title="Remove game from list" *ngIf="checkGames(game, gamesOnList)" (click)="removeGame(game)">Remove from list</button>
            </div>
        </div>
        <hr>
    </li>
</ul>

<ul class="list-unstyled" *ngIf="home">
    {{ setMaxGamesSize(maxStackSize) }}
    <li class="home-li" *ngFor="let game of games">
        <div class="row">
            <div class="col-xl-1 text-center home-fitting">
                <h2 class="vertical-center"><b>#{{ iterationNumber }}</b></h2>
            </div>
            <div class="col-xl-9 text-center home-fitting">
                <a [title]="game.name" [routerLink]="[ '/games', game.id ]"><img class="rounded home-image" [src]="game.urlMedia " [alt]="game.id "></a>
                <h6 class="home-game-title">{{ game.name }}</h6>
                <p class="game-description" *ngIf="!hideDescription">{{ game.shortDescription }}</p>
            </div>
            <div class="col-xl-2 text-center home-fitting">
                <i class="fa-sharp fa-solid fa-plus home-interaction-buttons vertical-center" title="Add game to list" *ngIf="!checkGames(game, gamesOnList) && userLogado" (click)="addGame(game)"></i>
                <i class="fa-sharp fa-solid fa-plus home-interaction-buttons vertical-center" title="Add game to list" *ngIf="!checkGames(game, gamesOnList) && !userLogado" [routerLink]="[ '/login' ]"></i>
                <i class="fa-sharp fa-solid fa-minus home-interaction-buttons vertical-center" title="Remove game from list" *ngIf="checkGames(game, gamesOnList)" (click)="removeGame(game)"></i>
            </div>
        </div>
        <hr> {{ iterationNumberIncrement() }}
    </li>

    {{ iterationNumberRefresh() }}

</ul>