.container {
    position: relative;
    background-color: #5e1ed4;
}

.row {
    margin: 0;
    padding: 0;
}

.footer-text {
    color: #eee;
    margin-left: 40px;
    margin-top: 40px;
}

.footer {
    margin: 0;
    display: relative;
    bottom: 0;
    line-height: 20px;
    height: 100px;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.footer a {
    display: flex;
    align-items: center;
}

.brand-container {
    font-size: 20px;
    color: #fff;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.brand-container a {
    all: unset;
}

.brand-container a:hover {
    cursor: pointer;
}