<head>
    <script src="https://kit.fontawesome.com/b804522f54.js" crossorigin="anonymous"></script>
</head>
<div class="container">
    <div class="footer">
        <div class="brand-container">
            <p>Made with<br><br>
                <a title="Angular" href="https://angular.io/"><i class="fa-brands fa-angular"></i></a>&nbsp;
                <a title="NodeJS" href="https://nodejs.org/en/"><i class="fa-brands fa-node"></i></a>&nbsp;
                <a title="Java" href="https://www.java.com/en/"><i class="fa-brands fa-java"></i></a>&nbsp;
                <a title="Spring" href="https://spring.io/"><i class="fa-brands fa-envira"></i></a>
            </p>
        </div>
    </div>
</div>