<body>
    <app-header></app-header>
    <div class="container" *ngIf=" !this.loading ">
        <div class="row">
            <div class="col-xl-3 text-center">
                <img class="profile-picture" [src]="this.userLogado.pfpUrl" *ngIf="this.userLogado.pfpUrl != null">
                <img class="profile-picture" src="../../assets/images/marcelo.jpg" *ngIf="this.userLogado.pfpUrl == null">
            </div>
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-xl-12">
                        <!--Capitalize first letter-->
                        <h1>{{ (this.userLogado.nome.charAt(0).toUpperCase() + this.userLogado.nome.slice(1).toLowerCase()) }}</h1>
                        <hr>
                    </div>
                    <div class="col-xl-7">
                        <div class="row">
                            <div class="col-4">
                                <h6>Games Reviewed:</h6>
                                <p>&starf; {{ numberWithDots(reviews) }}</p>
                            </div>
                            <div class="col-4">
                                <h6>Member Since:</h6>
                                <p>&starf; {{ this.userLogado.joinDate }}</p>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p align="justify">{{ this.userLogado.bio }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 d-flex flex-column text-center">
                <a [routerLink]="[ '/user', 'edit' ]"><button class="interaction-buttons" [hidden]="!ownProfile">Edit Profile</button></a>
                <a><button class="interaction-buttons" [hidden]="!ownProfile" (click)="logout()">Logout</button></a>
                <a><button class="interaction-buttons" disabled=true [hidden]="ownProfile">Add Friend</button></a>
            </div>
        </div>


        <div class="row">
            <div class="col-1"></div>
            <div class="col-xl-10">
                <h2>Game List</h2>
                <hr class="name-separator">
                <form (keydown.enter)="$event.preventDefault()">
                    <input class="rounded search-container" type="search" placeholder="Search..." (keyup)="onKey($event)">
                </form>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-xl-10">
                <app-game [currentRoute]="'user/profile'" [gamesOnList]="gamesOnList" [games]="games | filterByName : filter"></app-game>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <app-footer></app-footer>
</body>