body {
    background-color: #eee;
}

.container {
    background-color: #fff;
    padding: 0px;
    padding-bottom: 5px;
    min-height: 100vh;
}

.spacing {
    margin-top: 20px;
}

.form-control:focus {
    outline: none;
    border-color: #5900ff;
}

.btn.btn-primary.btn-block {
    background-color: #5900ff;
    border-color: #5900ff;
}