body {
  background-color: #eee;
}

.container {
  min-height: 100vh;
  background-color: #fff;  
}

ul {
  display: flex;
  list-style: none;
}

li {
  text-align: center;
}



.profile-picture {
  border-radius: 50%;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
  margin: 20px;
}