<body>
    <app-header></app-header>
    <div class="container">
        <div class="row" *ngIf="this.loading">
            <div class="col-5"></div>
            <div class="col-2">
                <app-loadscreen class="text-center"></app-loadscreen>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row" *ngIf=" !this.loading && !this.signed ">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <h3 class="spacing">Log in to see goose!</h3>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" *ngIf=" !this.loading && this.signed">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <h5 class="spacing">Work in progress...</h5>
                <br>
                <img class="rounded" src="../../assets/images/marcelo.jpg">
                <h6>This is the way.</h6>
            <h4>Click "<u><b>Games</b></u>" in the "<u><i>toolbar</i></u>" or in the "<u><i>user hover menu</i></u>" to access a list with all the games in our database.</h4>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <app-footer></app-footer>
</body>