<ul *ngIf="showFollowers">      
  <li *ngFor="let user of followers" >
    <a [routerLink]="[ '/users', user.id ]">
      <img class="profile-picture" [src]="this.user.pfpUrl" *ngIf="this.user.pfpUrl != null">
      <img class="profile-picture" src="../../assets/images/marcelo.jpg" *ngIf="this.user.pfpUrl == null">
      <h6>{{user.nome}}</h6>
    </a>
  </li>
</ul>
<ul *ngIf="!showFollowers">      
  <li *ngFor="let user of following" >
    <a [routerLink]="[ '/users', user.id ]">
      <img class="profile-picture" [src]="this.user.pfpUrl" *ngIf="this.user.pfpUrl != null">
      <img class="profile-picture" src="../../assets/images/marcelo.jpg" *ngIf="this.user.pfpUrl == null">
      <h6>{{user.nome}}</h6>
    </a>
  </li>
</ul>
