.container {
    margin-top: 10px;
    padding: 0px;
}

.col-2 {
    padding: 0 10px;
}

.row.section {
    padding: 0px;
    height: 120px;
}

.row {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.game-title {
    align-items: right;
}

.game-description {
    align-items: right;
}

.img-thumbnail {
    align-items: left;
    height: inherit;
    margin-right: 10px;
    padding: 2px;
}

.interaction-buttons {
    color: #5900ff;
    border-width: 1px;
    border-color: #5900ff;
    border-radius: 3px;
    background-color: #eee;
    margin: 10px 0 0 0;
    float: right;
    width: 120px;
}

.interaction-buttons:hover {
    background-color: #5900ff;
    border-color: #eee;
    color: #eee;
}