<app-header></app-header>
<div class="container" *ngFor="let game of gamesStatic">
    <div class="row section">
        <div class="col-2 row section">
            <img class="img-thumbnail" [src]="game.url" [alt]="game.alt">
        </div>
        <div class="col-8 row section">
            <h6 class="game-title">{{ game.title }}</h6>
            <p class="game-description">{{ game.shortDescription }}</p>
        </div>
        <div class="col-2">
            <div>
                <button class="interaction-buttons">View page</button>
                <button class="interaction-buttons" disabled=true>Add to Profile</button>
                <button class="interaction-buttons" disabled=true>Create Review</button>
            </div>
        </div>
    </div>
    <hr>
</div>
<app-footer></app-footer>